<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>temperatura</title>
</head>
<body>
    <h1> Temperatury stopni C | wilgotność % </h1>
    <h2> zewnątrz: </h2>
    <h2> salon : </h2>
    <h2> pokój1 : </h2>
    <h2> pokoj2 : </h2>
    <h2> kuchnia : </h2>
    <h2> łazienka : </h2>
    <br>
    <br/>
    <h2> Włącz ogrzewanie </h2>
    <h2> Wyłącz ogrzewanie </h2>
    <br>
    <br/>
    <button id="tempZapisz"> zapisz </button><button id="tempAnuluj"> anuluj </button>

</body>
</html>