<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>temperatura</title>
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
</head>
<body>
	<div>
	    <h1> Temperatury oraz wilgotności</h1>
	    <div>Salon:</div>
			<h1 id="salon">nothing</h1>
	    <div>p1</div>
	    	<h1 id="p1">nothing</h1>
	    <div>p2:</div> 
			<h1 id="p2">nothing</h1>
	    <div>kuchnia:</div>
	    	<h1 id="kitchen">nothing</h1>
	    <div>łazienka:</div>
	    	<h1 id="bathroom">nothing</h1>
	    <div class="styled-select green rounded">
  		<select>
    		<option>ustaw godzinę</option>
    		<option>The second option</option>
    		<option>The third option</option>
  		</select>
		</div>
	</div>
	

    <script src='{% static "js/logic1.js" %}'></script>
</body>
</html>