<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>temperatura</title>
</head>
<body>
    <h1> sockets </h1>
    <h1> Temperatury stopni C | wilgotność % </h1>
    <h1> zewnątrz: </h1>
    <h1>Salon: </h1><h1 id="salon">sensor not connected</h1>
    <h1>p1: </h1><h1 id="p1">sensor not connected</h1>
    <h1>p2: </h1><h1 id="p2">sensor not connected</h1>
    <h1>kuchnia: </h1><h1 id="kitchen">sensor not connected</h1>
    <h1>łazienka: </h1><h1 id="bathroom">sensor not connected</h1>

    <script src='{% static "js/logic1.js" %}'></script>    

</body>
</html>